<h1>Create a new vendor sweet</h1>
<%=form_for @vendorsweet do |f| %>
<%=f.label :price %>
<%=f.text_field :price %>
<br>
<br>
<%=f.label :vendor_id %>
<%=f.collection_select("vendor_id",@vendors,"id","name") %>
<br>
<br>
<%=f.label :sweet_id %>
<%=f.collection_select("sweet_id",@sweets,"id","name") %>
<br>
<br>
<%=f.submit %>
<% end %>

<% @vendorsweet.errors.each do |error| %>
<p><%= error %></p>
<% end %>
